<!--The content below is only a placeholder and can be replaced.-->
<form>
  <label for="nombre">Nombre</label>
  <input type="text" id="nombre" name="nombre" placeholder="Antonio Lopez" (keyup)="actualizar($event);">
  <label for="profesion">Profesion</label>
  <input type="text" id="profesion" name="profesion" placeholder="Web developer" (keyup)="actualizar($event);">
  <label for="telefono">Telefono</label>
  <input type="text" id="telefono" name="telefono" placeholder="666987123" (keyup)="actualizar($event);">
  <label for="correo">Correo electronico</label>
  <input type="text" id="correo" name="correo" placeholder="pedro@gmail.com" (keyup)="actualizar($event);">
  <label for="direccion">Dirección</label>
  <input type="text" id="direccion" name="direccion" placeholder="C/Mayor, 59" (keyup)="actualizar($event);">
  <label for="color">Color</label>
    <select id="color" name="color">
    <option value="blue">Azul</option>
    <option value="red">Rojo</option>
    <option value="green">Verde</option>
    <option value="pink">Rosa</option>
  </select>
</form>
<hr>

<div class="cards">
<!-- Front side of card -->
<div class="card">
  <div class="front">
    <div class="side"></div>
    <div class="center">
      <div class="logo">
        <div class="logo-icon">
          <i class="fa fa-cubes fa-2x"></i>
        </div>
        <h1 class="title">{{nombre}}</h1>
        <h3 class="subtitle">{{profesion}}</h3>
      </div>
    </div>
    <div class="side"></div>
  </div>
</div>
<!-- Back side of card -->
<div class="card">
  <div class="back">
    <div class="left-box">
      <div class="logo2">
        <img src="./assets/imagen.jpg" alt="">

      </div>
    </div>
    <div class="right-box">
      <h1 class="title">{{nombre}}</h1>
      <h3 class="subtitle">{{profesion}}</h3>
      <hr>
      <ul>
        <li><i class="fa fa-mobile"></i>{{telefono}}</li>
        <li><i class="fa fa-envelope"></i>{{correo}}</li>
        <li><i class="fa fa-map-marker"></i>{{direccion}}</li>
      </ul>
    </div>
  </div>
</div>
</div>
