/* You can add global styles to this file, and also import other style files */
hr {
  background-color: darkgrey;
  height: 4px;
  margin: 30px 0;
}

input[type=text] {
  border: 4px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

textarea {
  background-color: #f8f8f8;
  border: 4px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  height: 150px;
  padding: 12px 20px;
  resize: none;
  width: 100%;
}

select {
  background-color: #f1f1f1;
  border: 4px solid #ccc;
  border-radius: 10px;
  padding: 16px 20px;
  width: 100%;
}

.cards {
  margin: 25px auto;
  margin-right: 350px;
  width: 50%;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin: 12.5px auto;
  transition: 0.3s;
  width: 500px;
}

.front {
  background: #1b1b1b;
  display: flex;
  margin-bottom: 12.5px;
}

.side {
  background-color: #01aef2;
  flex: 1;
  margin: 70px auto;
}

.center {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5), -5px 0 5px rgba(0, 0, 0, 0.5);
  flex: 3;
  margin: 20px 0;
  z-index: 1;
}

.logo {
  margin: 50px auto;
  text-align: center;
}

.logo2 {
  margin: 0;
}

.logo-icon {
  color: #01aef2;
}

.logo-icon-white {
  color: #ffffff;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  font-size: 0.75em;
  margin-top: -10px;
  text-transform: uppercase;
}

.back {
  background: #1b1b1b;
  display: flex;
}

.left-box {
  background: #01aef2;
  flex: 1;
  margin: 20px;
  max-width: 50%;
}

.right-box {
  flex: 1;
  max-width: 50%;
}

.right-box hr {
  background-color: #01aef2;
  border: none;
  height: 3px;
}

.right-box ul {
  left: -45px;
  list-style: none;
  position: relative;
  width: 100%;
}

.right-box ul li i {
  color: #01aef2;
  margin: auto 5px;
  min-width: 1em;
  text-align: center;
}
